.App {
  text-align: center;
  background-color: honeydew;
  overflow: auto

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.status-WAITING {
  color: red;
}

.status-DONE {
  color: green;
  text-decoration: line-through;
}
.status-IN_PROGRESS {
  color: orange;
}
.button {
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 5px;
  border: solid black;


}
.button1:hover {
  background-color: red;
  color: white;
}
.button2:hover {
  background-color: green;
  color: white;
}
.button3:hover {
  background-color: blue;
  color: white;

}

ul {
  list-style: none;
  text-align: left;
  padding-left: 15%;

}



